@font-face {
    font-family: "Maylov";
    src: url(../assets/Maylov.ttf) format("truetype");
}
@font-face {
    font-family: "Vanilla";
    src: url(../assets/Vanilla.ttf);
}
body{
    margin: 0;
    font-family: "Roboto", sans-serif;
    background-color: black;
    overflow-x: hidden;
    color: white;
}
#menu{
    width: 100%;
    position: fixed;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    z-index: 1;
    background-color: black;
}
#menu img{
    height: 50px;
    margin: 5px;
    margin-left: 40px;
    cursor: pointer;
    position: relative;
    left: -15%;
    border-radius: 10px;
}
#menu ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    margin: 0px;
    margin-right: 30px;
    padding: 5px;
}
#menu ul li{
    padding-top: 18px;
    padding-bottom: 18px;
    letter-spacing: 2.5px;
    background-image: url('../assets/menubox.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
#menu ul li a{
    text-decoration: none;
    color: white;
    padding: 15px;
    margin: 0;
}
#menu ul li .cpage{
    color: yellow;
}
#contact{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#contact .data{
    border: 1px solid green;
    width: 100%;
}
#contact .form{
    border: 1px solid green;
    width: 100%;
    text-align: center;
    padding: 30px;
}
.form label{
    display: block;
}
.form input{
    width: 80%;
    height: 30px;
}
.form textarea{
    resize: none;
    width: 80%;
}
.form button{
    background: yellow;
    width: 80px;
    padding: 5px;
    color: gray;
    font-size: 15px;
    height: 40px;
}
.foot{
    padding: 3%;
    font-family: "Roboto", cursive;
    font-size: 90%;
    height: auto;
    background-color: rgba(41, 41, 41, 0.541);
}
.foot1{
    text-align: center;
}
.foot1:hover{
    color: green;
    text-decoration: underline;
}
.foot2{
    float: center;
    text-align: center;
}
.foot3{
    text-align: center;
}